[submodule "ProjectPracticeSite/public"]
	path = site/ProjectPracticeSite/public
	url = https://github.com/SavvaRain/ProjectPractice.github.io.git
	branch = main

[submodule "ProjectPracticeSiteV2/themes/Magnolia"]
	path = site/ProjectPracticeSiteV2/themes/Magnolia
	url = https://savvarain.github.io/ProjectPracticeTest.github.io
	branch = main
